In [ ]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
# Importing Libraries

Collecting datasets
  Downloading datasets-4.2.0-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: filelock in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (3.17.0)
Requirement already satisfied: numpy>=1.17 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (2.1.3)
Collecting pyarrow>=21.0.0 (from datasets)
  Downloading pyarrow-21.0.0-cp313-cp313-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: dill<0.4.1,>=0.3.0 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (0.3.8)
Requirement already satisfied: pandas in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (2.2.3)
Requirement already satisfied: requests>=2.32.2 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (2.32.3)
Requirement already satisfied: httpx<1.0.0 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (0.28.1)
Requirement already satisfied: tqdm>=4.66.3 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (4.67.1)
Collecting xxhash (from datasets)
  Downloading xxhash-3.6.0-cp313-cp313-win_amd64.whl.metadata (13 kB)
Collecting multiprocess<0.70.17 (from datasets)
  Downloading multiprocess-0.70.16-py312-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: fsspec<=2025.9.0,>=2023.1.0 in c:\users\ishaa\anaconda3\lib\site-packages (from fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (2025.3.2)
Collecting huggingface-hub<2.0,>=0.25.0 (from datasets)
  Downloading huggingface_hub-0.35.3-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: packaging in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (24.2)
Requirement already satisfied: pyyaml>=5.1 in c:\users\ishaa\anaconda3\lib\site-packages (from datasets) (6.0.2)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in c:\users\ishaa\anaconda3\lib\site-packages (from fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (3.11.10)
Requirement already satisfied: anyio in c:\users\ishaa\anaconda3\lib\site-packages (from httpx<1.0.0->datasets) (4.7.0)
Requirement already satisfied: certifi in c:\users\ishaa\anaconda3\lib\site-packages (from httpx<1.0.0->datasets) (2025.4.26)
Requirement already satisfied: httpcore==1.* in c:\users\ishaa\anaconda3\lib\site-packages (from httpx<1.0.0->datasets) (1.0.9)
Requirement already satisfied: idna in c:\users\ishaa\anaconda3\lib\site-packages (from httpx<1.0.0->datasets) (3.7)
Requirement already satisfied: h11>=0.16 in c:\users\ishaa\anaconda3\lib\site-packages (from httpcore==1.*->httpx<1.0.0->datasets) (0.16.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\ishaa\anaconda3\lib\site-packages (from huggingface-hub<2.0,>=0.25.0->datasets) (4.12.2)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in c:\users\ishaa\anaconda3\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]<=2025.9.0,>=2023.1.0->datasets) (1.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ishaa\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ishaa\anaconda3\lib\site-packages (from requests>=2.32.2->datasets) (2.3.0)
Requirement already satisfied: colorama in c:\users\ishaa\anaconda3\lib\site-packages (from tqdm>=4.66.3->datasets) (0.4.6)
Requirement already satisfied: sniffio>=1.1 in c:\users\ishaa\anaconda3\lib\site-packages (from anyio->httpx<1.0.0->datasets) (1.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ishaa\anaconda3\lib\site-packages (from pandas->datasets) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ishaa\anaconda3\lib\site-packages (from pandas->datasets) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ishaa\anaconda3\lib\site-packages (from pandas->datasets) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\ishaa\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->datasets) (1.17.0)
Downloading datasets-4.2.0-py3-none-any.whl (506 kB)
Downloading huggingface_hub-0.35.3-py3-none-any.whl (564 kB)
   ---------------------------------------- 0.0/564.3 kB ? eta -:--:--
   ---------------------------------------- 564.3/564.3 kB 5.8 MB/s eta 0:00:00
Downloading multiprocess-0.70.16-py312-none-any.whl (146 kB)
Downloading pyarrow-21.0.0-cp313-cp313-win_amd64.whl (26.1 MB)
   ---------------------------------------- 0.0/26.1 MB ? eta -:--:--
   ----- ---------------------------------- 3.4/26.1 MB 22.0 MB/s eta 0:00:02
   -------- ------------------------------- 5.2/26.1 MB 12.3 MB/s eta 0:00:02
   ------------ --------------------------- 8.4/26.1 MB 12.7 MB/s eta 0:00:02
   ----------------- ---------------------- 11.3/26.1 MB 13.9 MB/s eta 0:00:02
   -------------------- ------------------- 13.6/26.1 MB 13.5 MB/s eta 0:00:01
   ------------------------- -------------- 16.8/26.1 MB 13.0 MB/s eta 0:00:01
   ------------------------------ --------- 19.9/26.1 MB 13.2 MB/s eta 0:00:01
   ---------------------------------- ----- 22.5/26.1 MB 13.2 MB/s eta 0:00:01
   ------------------------------------ --- 24.1/26.1 MB 12.4 MB/s eta 0:00:01
   ---------------------------------------  26.0/26.1 MB 12.6 MB/s eta 0:00:01
   ---------------------------------------- 26.1/26.1 MB 12.0 MB/s eta 0:00:00
Downloading xxhash-3.6.0-cp313-cp313-win_amd64.whl (31 kB)
Installing collected packages: xxhash, pyarrow, multiprocess, huggingface-hub, datasets

  Attempting uninstall: pyarrow

    Found existing installation: pyarrow 19.0.0

    Uninstalling pyarrow-19.0.0:

   -------- ------------------------------- 1/5 [pyarrow]
      Successfully uninstalled pyarrow-19.0.0
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   -------- ------------------------------- 1/5 [pyarrow]
   ---------------- ----------------------- 2/5 [multiprocess]
   ---------------- ----------------------- 2/5 [multiprocess]
   ------------------------ --------------- 3/5 [huggingface-hub]
   ------------------------ --------------- 3/5 [huggingface-hub]
   ------------------------ --------------- 3/5 [huggingface-hub]
   ------------------------ --------------- 3/5 [huggingface-hub]
   ------------------------ --------------- 3/5 [huggingface-hub]
   -------------------------------- ------- 4/5 [datasets]
   -------------------------------- ------- 4/5 [datasets]
   -------------------------------- ------- 4/5 [datasets]
   -------------------------------- ------- 4/5 [datasets]
   -------------------------------- ------- 4/5 [datasets]
   ---------------------------------------- 5/5 [datasets]

Successfully installed datasets-4.2.0 huggingface-hub-0.35.3 multiprocess-0.70.16 pyarrow-21.0.0 xxhash-3.6.0

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

README.md: 0.00B [00:00, ?B/s]

c:\Users\ishaa\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\ishaa\.cache\huggingface\hub\datasets--lukebarousse--data_jobs. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Xet Storage is enabled for this repo, but the 'hf_xet' package is not installed. Falling back to regular HTTP download. For better performance, install the package with: `pip install huggingface_hub[hf_xet]` or `pip install hf_xet`

data_jobs.csv:   0%|          | 0.00/231M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/785741 [00:00<?, ? examples/s]

In [2]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df.iloc[:5, [1, 2]]

,job_title,job_location
0,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT"
1,Data Analyst,"Guadalajara, Jalisco, Mexico"
2,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany"
3,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX"
4,Data Engineer- Sr Jobs,"Washington, DC"

In [3]:
df.loc[5:9, 'job_title':'job_posted_date']

,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date
5,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59
6,Senior Data Engineer - GCP Cloud,"Dearborn, MI",via LinkedIn,Full-time,False,"Florida, United States",2023-03-27 13:18:18
7,Data Engineer,Anywhere,via LinkedIn,Full-time,True,Romania,2023-12-07 13:40:49
8,Technology & Operations Business Analyst,"Copenhagen, Denmark",via Trabajo.org,Full-time,False,Denmark,2023-06-05 13:44:34
9,Data Scientist II,Anywhere,via ZipRecruiter,Full-time,True,"New York, United States",2023-04-23 13:02:57

In [4]:
print(dataset)

DatasetDict({
    train: Dataset({
        features: ['job_title_short', 'job_title', 'job_location', 'job_via', 'job_schedule_type', 'job_work_from_home', 'search_location', 'job_posted_date', 'job_no_degree_mention', 'job_health_insurance', 'job_country', 'salary_rate', 'salary_year_avg', 'salary_hour_avg', 'company_name', 'job_skills', 'job_type_skills'],
        num_rows: 785741
    })
})

In [6]:
df[df['job_country'] == 'United States']
df.iloc[:14, [1, 12]]

                                            job_title  salary_year_avg
0   Senior Clinical Data Engineer / Principal Clin...              NaN
1                                        Data Analyst              NaN
2   Data Engineer/Scientist/Analyst, Mid or Senior...              NaN
3   LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...              NaN
4                              Data Engineer- Sr Jobs              NaN
5                                   GCP Data Engineer              NaN
6                   Senior Data Engineer  - GCP Cloud              NaN
7                                       Data Engineer              NaN
8            Technology & Operations Business Analyst              NaN
9                                   Data Scientist II              NaN
10               Erfahrene*r Data Engineer*in (m/w/d)              NaN
11                                      Data Engineer              NaN
12        Stagiaire Data Analyst (H/F) - Lyon (69006)              NaN
13                               Senior Data Engineer              NaN