In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [2]:
drop_df=df

In [3]:
drop_df= df.dropna(subset=[salary_year_avg])

NameError: name 'salary_year_avg' is not defined

In [5]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()rows_before = len(df)

df_cleaned = df.dropna(subset=['salary_year_avg'])
rows_after = len(df_cleaned)

rows_before, rows_after

SyntaxError: invalid syntax (3304665031.py, line 5)

In [6]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()
rows_before = len(df)

df_cleaned = df.dropna(subset=['salary_year_avg'])
rows_after = len(df_cleaned)

rows_before, rows_after

(785741, 22003)

In [7]:
df_fixed= df.drop_duplicates(['job_location'])
rows_afters=len(df_fixed)
rows_before,rows_afters

(785741, 17218)

In [8]:
salary_rate_before=df['salary_rate'].head(10)
df_salary=df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_salary['salary_rate'].head(10)
salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)